<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusLogicLayer.Properties.Settings.PA2_SHS_Johann_HagenConnectionString"
            connectionString="Data Source=laptop-920ke7oj;Initial Catalog=PA2_SHS_Johann_Hagen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>